body{
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

:root{
    --primary-color: rgba(93, 91, 216, 0.815);
}

.primary-color{
    color: var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color) !important;
}

header{
    background-color: var(--primary-color);
}

/*Navigation Menu*/
.navbar-nav{
    padding-left: 40px; 
}
/*TODO corregir el tamaño del first level*/
.navbar{
    position:fixed;
    text-align: center;
    padding: 0;
    top:0;
    width: 100%;
    background-color: rgba(84, 82, 201, 0.897)!important;
}
.navbar-nav .nav-link{
    font-size: 15px;
    
}

.navbar-nav .nav-item .nav-link{
    padding: 0 40px;
    color: black;
    
}
.nav-link:hover{
    background-color: var(--primary-color);
    
}
.element-position{
    left: 90%; 
}
/*Text*/
.hats-text{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
/*Slider*/
.carousel-hats1,
.carousel-hats2,
.carousel-hats3,
.carousel-hats4,
.carousel-hats5,
.carousel-hats6,
.carousel-hats7{
    margin-left: 80px;
    margin-top: 20px;
}
.slider{
    display: inline-block;
    margin-right: 50px;
} 

img{
    height: 180px;
    width: 180px;
}

.text-slider{
    font-size: 12px;
    display: inline-block;
    margin-left: 155px;
}

/*drop-down menu*/
.cuerporec{
    margin-left: 20px;
    margin-right: 110px;
    
}
.cuerporec ul{
    list-style: none;
    padding: 0;
}

.cuerporec li{
    line-height: 2rem;
    position: relative;
}

.cuerporec li ul{
    position: absolute;
}

.cuerporec a{
    color: white;
    display: block;
    padding: 0 2.1em;
    text-decoration: none;
    transition: .4s;
}

.cuerporec a:hover{
    background: #57438ff6;
}

/*first nivel*/
.cuerporec > ul{
    display: table;
    width: 100%;
}

.cuerporec > ul >li {
    float: left;
}
/*second level*/
.cuerporec li li{ 
    background: var(--primary-color);
    max-height: 0;
    overflow: hidden;
    transition: all;
    width: unset;
}

.cuerporec li:hover > ul > li{
    max-height:max-content;
    overflow: visible;
}

.cuerporec > ul > li > ul{
    top: 100%;
} 

.footer{
    bottom: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(84, 82, 201, 0.897);
    color: white;
}
 
